#wrapper {
  position: relative;
  background: green;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border-radius: 100%;
}

#eye1 {
  background: white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 100px;
  top: 70px;
}

#eye2 {
  background: white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 70px;
}

#noise  {
  background: white;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 215px;
  top: 200px;
}

#mouth {
  background: white;
  width: 200px;
  height: 20px;
  position: absolute;
  left: 150px;
  top: 350px;
}